<section class="blog">
  <div class="container">
    <h1 class="blog__title tracking-in-expand">Blog</h1>
  </div>
  <div class="blog__primary-line">
    <div class="primary-line__box-1"></div>
    <div class="primary-line__box-2"></div>
  </div>
  <div class="blog__secondary-line">
    <div class="secondary-line__box-1"></div>
    <div class="secondary-line__box-2"></div>
  </div>
  <div class="container">
    <ul class="blog__list">
      <li class="blog__item">
        <article class="article-preview">
          <header class="article-preview__header">
            <h2 class="article-preview__title">
              Guide to Picking The Right Gaming Headset
            </h2>
            <div class="article-preview__top-wrap">
              <div class="article-preview__img-wrap">
                <picture>
                  <source
                    srcset="
                      ./images/blog-photo/desktop/blog-photo-1-@1x.jpg 1x,
                      ./images/blog-photo/desktop/blog-photo-1-@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/blog-photo/tablet/blog-photo-1-@1x.jpg 1x,
                      ./images/blog-photo/tablet/blog-photo-1-@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./images/blog-photo/mobile/blog-photo-1-@1x.jpg 1x,
                      ./images/blog-photo/mobile/blog-photo-1-@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    class="article-preview__img"
                    src="./images/blog-photo/mobile/blog-photo-1-@1x.jpg"
                    alt="Gaming Headset"
                  />
                </picture>
              </div>
              <div class="article-preview__info-wrap">
                <p class="article-preview__author">By Ray Ian Ampoloquio</p>
                <time class="article-preview__update" datetime="2022-09-21"
                  >Updated on September 21, 2022</time
                >
              </div>
            </div>
          </header>
          <p class="article-preview__text">
            Learn how to choose an amazing gaming headset with this checklist of
            just 9 surprisingly simple steps. <br />
            Gaming headsets offer a handy and practical solution to any and all
            of your gaming audio needs. But, as with any kind of ...
          </p>
          <footer class="article-preview__footer">
            <a href="../src/blog-article.html" class="article-preview__link"
              >Learn more</a
            >
          </footer>
        </article>
      </li>
      <li class="blog__item">
        <article class="article-preview">
          <header class="article-preview__header">
            <h2 class="article-preview__title">
              Mic Monitoring: What Is It and How It Is Relevant to Gaming
            </h2>
            <div class="article-preview__top-wrap">
              <div class="article-preview__img-wrap">
                <picture>
                  <source
                    srcset="
                      ./images/blog-photo/desktop/blog-photo-2-@1x.jpg 1x,
                      ./images/blog-photo/desktop/blog-photo-2-@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/blog-photo/tablet/blog-photo-2-@1x.jpg 1x,
                      ./images/blog-photo/tablet/blog-photo-2-@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./images/blog-photo/mobile/blog-photo-2-@1x.jpg 1x,
                      ./images/blog-photo/mobile/blog-photo-2-@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    class="article-preview__img"
                    src="./images/blog-photo/mobile/blog-photo-2-@1x.jpg"
                    alt="Mic Monitoring"
                  />
                </picture>
              </div>
              <div class="article-preview__info-wrap">
                <p class="article-preview__author">By Gab L</p>
                <time class="article-preview__update" datetime="2022-09-10"
                  >Updated on September 10, 2022</time
                >
              </div>
            </div>
          </header>
          <p class="article-preview__text">
            An explanation and exploration of microphone monitoring — its
            benefits and how you can start using one of the most underrated
            features today ...
          </p>
          <footer class="article-preview__footer">
            <a href="" class="article-preview__link">Learn more</a>
          </footer>
        </article>
      </li>
      <li class="blog__item">
        <article class="article-preview">
          <header class="article-preview__header">
            <h2 class="article-preview__title">
              How to Choose the Right Gaming Mouse
            </h2>
            <div class="article-preview__top-wrap">
              <div class="article-preview__img-wrap">
                <picture>
                  <source
                    srcset="
                      ./images/blog-photo/desktop/blog-photo-3-@1x.jpg 1x,
                      ./images/blog-photo/desktop/blog-photo-3-@2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />
                  <source
                    srcset="
                      ./images/blog-photo/tablet/blog-photo-3-@1x.jpg 1x,
                      ./images/blog-photo/tablet/blog-photo-3-@2x.jpg 2x
                    "
                    media="(min-width: 768px)"
                  />
                  <source
                    srcset="
                      ./images/blog-photo/mobile/blog-photo-3-@1x.jpg 1x,
                      ./images/blog-photo/mobile/blog-photo-3-@2x.jpg 2x
                    "
                    media="(max-width: 767px)"
                  />
                  <img
                    class="article-preview__img"
                    src="./images/blog-photo/mobile/blog-photo-3-@1x.jpg"
                    alt="Gaming Mouse"
                  />
                </picture>
              </div>
              <div class="article-preview__info-wrap">
                <p class="article-preview__author">By Michael Crider</p>
                <time class="article-preview__update" datetime="2022-09-02"
                  >Updated on September 2, 2022</time
                >
              </div>
            </div>
          </header>
          <p class="article-preview__text">
            A good mouse can make a big difference when playing your favorite
            games. Here’s what you need to know about grip styles, types of
            gaming mice, technical specs, and more, before purchasing a new
            gaming mouse ...
          </p>
          <footer class="article-preview__footer">
            <a href="" class="article-preview__link">Learn more</a>
          </footer>
        </article>
      </li>
    </ul>
  </div>
</section>
