<!-- ❗️❗️❗️ Tег <section class="btn-flex"></section> НЕ копіюєте.
 ❗️❗️❗️  Берете тільки все, що всередині цього тегу.

 Вирівнювання по центру/краю вже зроблене (крім) кнопки Shop now, бо вона позиціонується разом з іншими елементами.

 Адаптація для tablet і desktop вже зроблена.
-->

<section class="btn-flex">
  <a href="/src/accessories.html" class="btn-shop">Shop now</a>
</section>

<section class="btn-flex">
  <button type="button" class="btn-big btn-secondary-light">SEND</button>
</section>

<section class="btn-flex">
  <ul class="take-order-btn-list">
    <li>
      <button type="button" class="btn-big btn-big-prime">Buy it now</button>
    </li>
    <li>
      <button type="button" class="btn-big btn-secondary">ADD TO CART</button>
    </li>
  </ul>
</section>

<section class="btn-flex">
  <a href="/src/accessories.html" class="btn-view-all">View all</a>
</section>

<section class="btn-flex">
  <div class="container-accessories-btn">
    <ul class="accessories-btn-list">
      <li>
        <button type="button" class="btn-secondary btn-accessories">All</button>
      </li>
      <li>
        <button type="button" class="btn-secondary btn-accessories">
          Headsets
        </button>
      </li>
      <li>
        <button type="button" class="btn-secondary btn-accessories">
          Keyboards
        </button>
      </li>
      <li>
        <button type="button" class="btn-secondary btn-accessories">
          Mouses
        </button>
      </li>
    </ul>
  </div>
</section>

<section class="btn-flex">
  <a href="./index.html" class="btn-big btn-big-prime btn-modal">Let's go!</a>
</section>

<section class="btn-flex">
  <a href="/src/accessories.html" class="btn-big btn-big-prime btn-modal"
    >KEEP SHOPPING</a
  >
</section>

<section class="btn-flex">
  <a href="./index.html" class="btn-big btn-big-prime btn-modal">ok</a>
</section>
