<header class="header">
  <div class="container header__container">
    <a class="logo header-logo" href="../src/index.html">Shop for gamers</a>
    <nav class="header-navigation">
      <ul class="header-navigation__list">
        <li class="header-navigation__item">
          <a class="header-navigation__link" href="../src/accessories.html">Accessories</a>
        </li>
        <li class="header-navigation__item">
          <a class="header-navigation__link" href="../src/contact.html">Contact</a>
        </li>
        <li class="header-navigation__item">
          <a class="header-navigation__link" href="../src/blog.html">Blog</a>
        </li>
      </ul>
    </nav>
    <button class="mob-menu-btn" data-menu-open data-menu-close data-menu-btn>
      <svg class="mob-menu-btn__icon" width="54" height="36" aria-label="mob-menu-switch">
        <use class="icon-open-btn is-open" btn-open href="./images/symbol-defs.svg#icon-eva_menu-outline"></use>
        <use class="icon-close-btn" btn-close href="./images/symbol-defs.svg#icon-akar-icons_cross"></use>
      </svg>
    </button>
    <a class="btn-shop" href="../src/accessories.html">Shop now</a>
  </div>
</header>