<section class="hero">
  <div class="container hero__container">
    <h2 class="hero__title">Best shop for buying gaming products</h2>
  </div>
  <div class="container hero__container-btn">
    <a
      href="../src/accessories.html"
      class="btn-big btn-big-prime btn-start-shopping animate__animated animate__pulse animate__infinite animate__slow"
      >Start shopping</a
    >
  </div>

  <picture class="hero__mouse">
    <source
      srcset="
        ./images/main-hero-photo/mouse.png    1x,
        ./images/main-hero-photo/mouse-2x.png 2x
      "
      type="image/jpeg"
    />
    <img src="./images/main-hero-photo/mouse.png" />
  </picture>
  <picture class="hero__headphone">
    <source
      srcset="
        ./images/main-hero-photo/headphone.png    1x,
        ./images/main-hero-photo/headphone-2x.png 2x
      "
      type="image/jpeg"
    />
    <img src="./images/main-hero-photo/headphone.png" />
  </picture>
  <picture class="hero__keyboard">
    <source
      srcset="
        ./images/main-hero-photo/keyboard.png    1x,
        ./images/main-hero-photo/keyboard-2x.png 2x
      "
      type="image/jpeg"
    />
    <img src="./images/main-hero-photo/headphone.png" />
  </picture>
</section>
