<section class="slider">
  <div class="swiper">
    <ul class="swiper-wrapper">
      <li class="swiper-slide">
        <div class="swiper-slide__image">
          <picture>
            <source
              srcset="
                ../src/images/main-slider-photo/hero-slider-1@1x.jpeg 1x,
                ../src/images/main-slider-photo/hero-slider-1@2x.jpeg 2x
              "
              media="(min-width: 768px)"
            />
            <source
              srcset="
                ../src/images/contact-photo/contacts-img-tab.jpg    1x,
                ../src/images/contact-photo/contacts-img-tab@2x.jpg 2x
              "
              media="(max-width: 767px)"
            />
            <img
              src="../src/images/main-slider-photo/hero-slider-1@1x.jpeg"
              alt="slider 1"
            />
          </picture>
          <h2 class="swiper-title center">One place for everything you want</h2>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="swiper-slide__image">
          <picture>
            <source
              srcset="
                ../src/images/main-slider-photo/hero-slider-2@1x.jpeg 1x,
                ../src/images/main-slider-photo/hero-slider-2@2x.jpeg 2x
              "
            />
            <img
              src="../src/images/main-slider-photo/hero-slider-2@1x.jpeg"
              alt="slider 2"
            />
          </picture>
          <h2 class="swiper-title">
            Best shop for buying <span>gaming products</span>
          </h2>
        </div>
      </li>
      <li class="swiper-slide">
        <div class="swiper-slide__image">
          <picture>
            <source
              srcset="
                ../src/images/main-slider-photo/hero-slider-3@1x.jpeg 1x,
                ../src/images/main-slider-photo/hero-slider-3@2x.jpeg 2x
              "
            />
            <img
              src="../src/images/main-slider-photo/hero-slider-3@1x.jpeg"
              alt="slider 3"
            />
          </picture>
          <h2 class="swiper-title">High-quality products in lowest price</h2>
        </div>
      </li>
    </ul>
    <div class="swiper-pagination"></div>
  </div>
</section>
