<section class="order">
  <div class="container">
    <h1 class="order__title tracking-in-expand">Take order</h1>
  </div>

  <div class="wrapp-primary-line">
    <div class="primary-box-take-order"></div>
    <div class="secondary-box-take-order"></div>
  </div>
  <div class="wrapp-secondary-line-take-order">
    <div class="primary-box2-take-order"></div>
    <div class="secondary-box2-take-order"></div>
  </div>

  <div class="container">
    <div class="order__decor">
      <article class="product order__product">
        <h2 class="product__name">Xiberia K9 PRO PC Headset</h2>

        <div class="product__wrapper">
          <div class="product__wrap-image">
            <picture>
              <source
                srcset="
                  ./images/take-order-photo/foto_hero/Rectangle_4279_tab.webp 1x,
                  ./images/take-order-photo/foto_hero/Rectangle_4279_tab.webp 2x
                "
                media="(min-width: 768px)"
                type="image/webp"
              />

              <source
                srcset="
                  ./images/take-order-photo/foto_hero/Rectangle_4279_tab.jpg 1x,
                  ./images/take-order-photo/foto_hero/Rectangle_4279_tab.jpg 2x
                "
                media="(min-width: 768px)"
              />

              <source
                srcset="
                  ./images/take-order-photo/foto_hero/Rectangle_4279_mob.webp 1x,
                  ./images/take-order-photo/foto_hero/Rectangle_4279_mob.webp 2x
                "
                media="(max-width: 767px)"
                type="image/webp"
              />

              <source
                srcset="
                  ./images/take-order-photo/foto_hero/Rectangle_4279_mob.jpg 1x,
                  ./images/take-order-photo/foto_hero/Rectangle_4279_mob.jpg 2x
                "
                media="(max-width: 767px)"
              />

              <img
                src="./images/take-order-photo/foto_hero/Rectangle_4279_mob.jpg"
                alt="headphones"
                width="288"
              />
            </picture>
          </div>

          <div class="product__wrap-price">
            <ul class="product__list">
              <li class="product__item">
                <p class="product__price--old">65.14 USD</p>
              </li>
              <li class="product__item">
                <p class="product__price--sale">55.14 USD</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="product__gallery gallery">
          <ul class="gallery__list">
            <li class="gallery__item">
              <div class="gallery__wrap-image">
                <picture>
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4280_desk.webp    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4280_desk_2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4280_desk.jpg    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4280_desk_2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />

                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4280_tab.webp    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4280_tab_2x.webp 2x
                    "
                    media="(min-width: 786px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4280_tab.jpg    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4280_tab_2x.jpg 2x
                    "
                    media="(min-width: 786px)"
                  />

                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4280_mob.webp    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4280_mob_2x.webp 2x
                    "
                    media="(max-width: 479px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4280_mob.jpg    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4280_mob_2x.jpg 2x
                    "
                    media="(max-width: 479px)"
                  />

                  <img
                    src="./images/take-order-photo/foto_gallery/Rectangle_4280_mob.jpg"
                    alt="headfons"
                    width="60"
                  />
                </picture>
              </div>
            </li>
            <li class="gallery__item">
              <div class="gallery__wrap-image">
                <picture>
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4281_desk.webp    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4281_desk_2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4281_desk.jpg    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4281_desk_2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />

                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4281_tab.webp    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4281_tab_2x.webp 2x
                    "
                    media="(min-width: 786px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4281_tab.jpg    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4281_tab_2x.jpg 2x
                    "
                    media="(min-width: 786px)"
                  />

                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4281_mob.webp    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4281_mob_2x.webp 2x
                    "
                    media="(max-width: 479px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4281_mob.jpg    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4281_mob_2x.jpg 2x
                    "
                    media="(max-width: 479px)"
                  />

                  <img
                    src="./images/take-order-photo/foto_gallery/Rectangle_4281_mob.jpg"
                    alt="headfons"
                    width="60"
                  />
                </picture>
              </div>
            </li>
            <li class="gallery__item">
              <div class="gallery__wrap-image">
                <picture>
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4282_desk.webp    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4282_desk_2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4282_desk.jpg    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4282_desk_2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />

                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4282_tab.webp    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4282_tab_2x.webp 2x
                    "
                    media="(min-width: 786px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4282_tab.jpg    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4282_tab_2x.jpg 2x
                    "
                    media="(min-width: 786px)"
                  />

                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4282_mob.webp    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4282_mob_2x.webp 2x
                    "
                    media="(max-width: 479px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4282_mob.jpg    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4282_mob_2x.jpg 2x
                    "
                    media="(max-width: 479px)"
                  />

                  <img
                    src="./images/take-order-photo/foto_gallery/Rectangle_4282_mob.jpg"
                    alt="headfons"
                    width="60"
                  />
                </picture>
              </div>
            </li>
            <li class="gallery__item">
              <div class="gallery__wrap-image">
                <picture>
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4283_desk.webp    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4283_desk_2x.webp 2x
                    "
                    media="(min-width: 1280px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4283_desk.jpg    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4283_desk_2x.jpg 2x
                    "
                    media="(min-width: 1280px)"
                  />

                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4283_tab.webp    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4283_tab_2x.webp 2x
                    "
                    media="(min-width: 786px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4283_tab.jpg    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4283_tab_2x.jpg 2x
                    "
                    media="(min-width: 786px)"
                  />

                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4283_mob.webp    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4283_mob_2x.webp 2x
                    "
                    media="(max-width: 479px)"
                    type="image/webp"
                  />
                  <source
                    srcset="
                      ./images/take-order-photo/foto_gallery/Rectangle_4283_mob.jpg    1x,
                      ./images/take-order-photo/foto_gallery/Rectangle_4283_mob_2x.jpg 2x
                    "
                    media="(max-width: 479px)"
                  />

                  <img
                    src="./images/take-order-photo/foto_gallery/Rectangle_4283_mob.jpg"
                    alt="headfons"
                    width="60"
                  />
                </picture>
              </div>
            </li>
          </ul>
        </div>
      </article>
    </div>

    <form class="form-order">
      <h2 class="form-order__title">CONTACT US</h2>

      <div class="form__wrap-contact">
        <div class="form__wrapper">
          <div class="form-order__user-wrap">
            <input
              type="text"
              class="form-order__input"
              name="user-name"
              id="name"
              required
              minlength="3"
              maxlength="30"
              pattern="^[a-zA-Z]+\s[a-zA-Z]+$"
              title="Username must be two words separated by space."
            />
            <label for="name" class="form-order__label">Name</label>
          </div>

          <div class="form-order__user-wrap">
            <input
              type="email"
              class="form-order__input"
              id="email"
              name="user-email"
              required
              pattern="^[-\w.]+@([A-z0-9][-A-z0-9]+\.)+[A-z]{2,4}$"
              title="Please enter a valid email address."
            />
            <label class="form-order__label" for="email">Email</label>
          </div>

          <div class="form-order__select-wrap">
            <select class="select-color" name="color-select" id="color">
              <option class="select-color__option" selected value="">
                Color Option
              </option>

              <option class="select-color__option" value="black">
                K9D Black Orange
              </option>
              <option class="select-color__option" value="silver">
                K9D Silver Gray
              </option>
              <option class="select-color__option" value="white">
                K9U White Blue
              </option>
              <option class="select-color__option" value="red">
                K9U Red Blue
              </option>
            </select>

            <select class="select-color" name="color-select" id="color">
              <option class="select-color__option" selected value="">
                Quantity
              </option>
              <option class="select-color__option" value="black">1</option>
              <option class="select-color__option" value="silver">2</option>
              <option class="select-color__option" value="white">3</option>
            </select>

            <select
              class="select-color select-color-end"
              name="color-select"
              id="color"
            >
              <option class="select-color__option" selected value="">
                Payment
              </option>
              <option class="select-color__option" value="black">
                Тon-cash
              </option>
              <option class="select-color__option" value="silver">Сash</option>
              <option class="select-color__option" value="white">Сredit</option>
            </select>
          </div>
        </div>

        <div class="form-order__comment-wrap">
          <label for="comment"
            ><span class="comment-area__text">Leave your message</span></label
          >
          <textarea
            name="comment"
            class="comment-area__message"
            id="comment"
          ></textarea>
        </div>
      </div>

      <div class="btn-flex form-order__btn-flex">
        <ul class="take-order-btn-list">
          <li>
            <button
              type="button"
              class="btn-big btn-big-prime js-open-modal animate__animated animate__pulse animate__infinite animate__slow"
              data-modal="1"
            >
              Buy it now
            </button>
          </li>
          <li>
            <button
              type="button"
              class="btn-big btn-secondary js-open-modal"
              data-modal="2"
            >
              ADD TO CART
            </button>
          </li>
        </ul>
      </div>
    </form>
  </div>

  <!-- модальные окона -->

  <div class="overlay js-overlay-modal">
    <div class="modal order__modal" data-modal="1">
      <div class="modal__wrap">
        <svg
          class="modal__cross js-modal-close"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
          />
        </svg>
      </div>
      <p class="modal__title order-comtact-title">Thank you</p>
      <p class="modal__title order-comtact-title">for your order!</p>
      <p class="modal__title order-comtact-title">We will contact you</p>
      <p class="modal__title order-comtact-title order-comtact-title__first">
        soon!
      </p>

      <a
        href="../src/accessories.html"
        class="btn-big btn-big-prime order__button"
        >KEEP SHOPPING</a
      >
    </div>

    <div class="modal order__modal order__modal--second" data-modal="2">
      <div class="modal__wrap">
        <svg
          class="modal__cross js-modal-close"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
        >
          <path
            d="M23.954 21.03l-9.184-9.095 9.092-9.174-2.832-2.807-9.09 9.179-9.176-9.088-2.81 2.81 9.186 9.105-9.095 9.184 2.81 2.81 9.112-9.192 9.18 9.1z"
          />
        </svg>
      </div>

      <p class="modal__title order-comtact-title">Excellent choice!</p>
      <p class="modal__title order-comtact-title">Let's move on</p>
      <p class="modal__title order-comtact-title order-comtact-title__second">
        to the checkout!
      </p>

      <a href="../src/index.html" class="btn-big btn-big-prime order__button"
        >Let's go!</a
      >
    </div>
  </div>
</section>
