.wrapp-primary-line {
  display: flex;
}
.wrapp-secondary-line {
  display: flex;
  margin-bottom: 20px;
  @include tablet {
    margin-bottom: 24px;
  }
  @include desktop {
    margin-bottom: 16px;
  }
}
.primary-box {
  width: 28%;
  height: 9px;

  border-right: 1.5px solid #7be34a;
  border-bottom: 1.5px solid #7be34a;
  @include tablet {
    width: 35%;
    height: 20px;
  }
  @include desktop {
    width: 33%;
  }
}
.secondary-box {
  width: 73%;
  height: 9px;

  border-top: 1.5px solid #7be34a;

  @include tablet {
    width: 65%;
    height: 20px;
  }
  @include desktop {
    width: 67%;
  }
}

.primary-box2 {
  width: 29%;
  height: 9px;

  border-right: 1.5px solid #28780d;
  border-bottom: 1.5px solid #28780d;
  transform: translateY(-5px);
  @include tablet {
    width: 36%;
    height: 20px;
    transform: translateY(-12px);
  }
  @include desktop {
    width: 33.5%;
  }
}

.secondary-box2 {
  width: 72%;
  height: 9px;

  border-top: 1.5px solid #28780d;
  transform: translateY(-5px);
  @include tablet {
    transform: translateY(-12px);
    width: 64%;
    height: 20px;
  }
  @include desktop {
    width: 66.5%;
  }
}

.article-title {
  @include font(500, 24px, 1.17, null);
  display: inline-block;
  margin-bottom: 30px;
  // min-width: 288px;
  padding-top: 40px;
  width: 288px;
  @include tablet {
    @include font(600, 56px, 1, null);
    padding-top: 120px;
    width: 688px;
  }
  @include desktop {
    padding-top: 112px;
    width: 100%;
  }
}
.article-picture {
  @include tablet {
    margin-bottom: 0;
    border-radius: 12px;
  }
  @include desktop {
    min-width: 120px;
  }
}

.img-name {
  @include font(500, 16px, 1, null);
  margin-bottom: 8px;
  @include tablet {
    color: var(--accent);
    @include font(500, 24px, 1, null);
    max-width: 134px;
    margin-bottom: 0;
  }
  @include desktop {
    max-width: 100%;
  }
}
.img-text {
  color: var(--secondary-text-color);
  @include font(500, 16px, 1, null);
  margin-bottom: 8px;
  @include tablet {
    @include font(500, 24px, 1, null);
    max-width: 261px;
    margin-bottom: 0;
  }
  @include desktop {
    max-width: 100%;
  }
}
.img-wrap {
  margin-bottom: 20px;
  margin-left: -16px;
  margin-right: -16px;

  @include tablet {
    margin-left: 0;
    margin-right: 0;
    display: flex;
    gap: 40px;
    align-items: flex-end;
    margin-bottom: 0;
  }
}
.img-text-wrap {
  @include tablet {
    display: flex;
    flex-direction: column;
    gap: 32px;
  }
  @include desktop {
    flex-direction: row;
    gap: 96px;
    margin-bottom: 24px;
  }
}

.top-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  @include tablet {
    gap: 30px;
  }
  @include desktop {
    display: none;
  }
}
.top-text-desktop {
  @include desktop {
    display: block;
  }
}
.top-text-desktop .article-text:not(:last-child) {
  margin-bottom: 30px;
}
.middle-text {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  font-family: 'Roboto-400', sans-serif;
  @include font(400, 16px, 1.19, null);
  @include tablet {
    margin-top: 30px;
    margin-bottom: 30px;
    color: var(--accent);
    @include font(400, 24px, 1.17, null);
  }
}

.bottom-text {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-bottom: 48px;
  @include tablet {
    gap: 30px;
    padding-bottom: 120px;
  }
}
.text-wrap {
  padding-bottom: 48px;
  @include tablet {
    padding-bottom: 120px;
  }
}
.article-text {
  font-family: 'Roboto-400', sans-serif;
  @include font(400, 16px, 1.19, null);
  @include tablet {
    @include font(400, 24px, 1.17, null);
  }
}
.tablet-wrap {
  @include tablet {
    display: flex;
    gap: 40px;
    align-items: flex-end;
    margin-bottom: 16px;
  }
  @include desktop {
    display: none;
  }
}
.desktop-wrap {
  display: none;
  @include desktop {
    display: block;
    margin-bottom: 48px;
  }
}
.desktop-text-wrap {
  @include desktop {
    display: flex;
    flex-direction: column;
    width: 690px;
  }
}
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-11-24 21:33:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
