.blog {
  padding: 40px 0 48px;

  @include tablet {
    padding: 120px 0 120px;

    background-image: url('../images/blog-photo/tablet/bg-tablet-@1x.jpg');
    background-size: cover;

    @include retina {
      background-image: url('../images/blog-photo/tablet/bg-tablet-@2x.jpg');
    }
  }

  @include desktop {
    background-image: url('../images/blog-photo/desktop/bg-desktop-@1x.jpg');
    background-size: cover;

    @include retina {
      background-image: url('../images/blog-photo/desktop/bg-desktop-@2x.jpg');
    }
  }
}

.blog__title {
  @include font(500, 24px, 1.17, null);

  @include tablet {
    padding-left: 83px;

    @include font(500, 56px, 1.18, null);
  }

  @include desktop {
    padding-left: 102px;
  }
}

.blog__primary-line {
  display: flex;
}
.blog__secondary-line {
  display: flex;
}
.primary-line__box-1 {
  width: 38%;
  height: 9px;

  border-right: 1.5px solid #7be34a;
  border-bottom: 1.5px solid #7be34a;
  @include tablet {
    width: 34%;
    height: 15px;
  }
  @include desktop {
    width: 20%;
  }
}
.primary-line__box-2 {
  width: 62%;
  height: 9px;

  border-top: 1.5px solid #7be34a;

  @include tablet {
    width: 66%;
    height: 15px;
  }
  @include desktop {
    width: 80%;
  }
}

.secondary-line__box-1 {
  width: 39%;
  height: 9px;

  border-right: 1.5px solid #28780d;
  border-bottom: 1.5px solid #28780d;
  transform: translateY(-5px);
  @include tablet {
    width: 34.5%;
    height: 15px;
  }
  @include desktop {
    width: 20.5%;
  }
}

.secondary-line__box-2 {
  width: 61%;
  height: 9px;

  border-top: 1.5px solid #28780d;
  transform: translateY(-5px);
  @include tablet {
    width: 65.5%;
    height: 15px;
  }
  @include desktop {
    width: 79.5%;
  }
}

.blog__list {
  margin-top: 20px;

  @include tablet {
    margin-top: 40px;
  }

  @include desktop {
    margin-top: 48px;
  }
}

.blog__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @include tablet {
    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  @include desktop {
    &:nth-child(2) .article-preview__title {
      margin-bottom: 24px;
    }
  }
}

.article-preview {
  @include desktop {
    padding-left: 508px;
  }
}

.article-preview__header {
  position: relative;
  margin-bottom: 8px;
  box-shadow: none;

  @include tablet {
    margin-bottom: 16px;
  }

  @include desktop {
    margin-bottom: 24px;
  }
}

.article-preview__title {
  margin-bottom: 16px;

  @include font(500, 24px, 1.17, null);

  @include media-min-max(320px, 767px) {
    width: 288px;
  }
  @include tablet {
    @include font(500, 56px, 1, null);
  }

  @include desktop {
    margin-bottom: 52px;
  }
}

.article-preview__top-wrap {
  display: flex;
  flex-direction: column;
  gap: 8px;

  @include tablet {
    flex-direction: row;
    align-items: flex-end;
    gap: 40px;
  }
}

.article-preview__img-wrap {
  margin-left: -16px;
  margin-right: -16px;

  @include tablet {
    margin: 0;
  }

  @include desktop {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-508px);
  }
}

.article-preview__info-wrap {
  @include desktop {
    display: flex;
    gap: 97px;
  }
}

.article-preview__img {
  @include tablet {
    width: 387px;
    border-radius: 12px;
  }
}

.article-preview__author {
  margin-bottom: 8px;

  @include font(500, 16px, 1, null);

  @include tablet {
    width: 189px;
    margin-bottom: 32px;
    @include font(500, 24px, 1, null);
  }

  @include desktop {
    width: 248px;
    margin-bottom: 0;
  }
}

.article-preview__update {
  @include font(500, 16px, 1, null);
  color: var(--secondary-text-color);

  @include tablet {
    width: 261px;
    @include font(500, 24px, 1, null);
  }

  @include desktop {
    width: max-content;
  }
}

.article-preview__text {
  margin-bottom: 8px;

  @include font(400, 16px, 1.19, null);

  @include tablet {
    margin-bottom: 16px;
    @include font(400, 24px, 1.17, null);
  }
}

.article-preview__footer {
  padding-left: 206px;

  @include tablet {
    padding-left: 565px;
  }

  @include desktop {
    padding-left: 569px;
  }
}

.article-preview__link {
  // display: block;

  transition: text-shadow var(--timing-function);

  &:hover,
  &:focus {
    text-shadow: var(--box-shadow);
  }

  @include font(500, 16px, 1, null);
  color: var(--accent);
  // text-align: right;

  @include tablet {
    @include font(500, 24px, 1, null);
  }
}
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}
/* ----------------------------------------------
 * Generated by Animista on 2022-11-24 21:33:8
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
